<table class="table table-striped mb-4">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Reported To</th>
            <th scope="col">Location</th>
            <th scope="col">Incident Date</th>
            <th scope="col">Reported By</th>
            <th scope="col">Nature</th>
            <th scope="col">Review</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let incident of incidents;">
            <th scope="row">{{ incident.id }}</th>
            <td> {{ incident.reportedTo }} </td>
            <td> {{ incident.location }} </td>
            <td> {{ incident.incidentDate | date }} </td>
            <td> {{ incident.reportedBy }} </td>
            <td> {{ incident.nature }} </td>
            <td *ngIf="!incident.conclusion">
                <a [routerLink]="['/review', incident.id]">Review</a>
            </td>
            <td *ngIf="incident.conclusion">
                <a [routerLink]="['/view', incident.id]">View</a>
            </td>
        </tr>
    </tbody>
</table>