<div class="col-8 mb-4" *ngIf="incident">
    <h5 class="mt-4">Basic Info</h5>
    <label class="mt-3 font-weight-light">Reported to:</label>
    <div class="ml-3">{{ incident.reportedTo }}</div>
    <label class="mt-3 font-weight-light">Incident Location:</label>
    <div class="ml-3">{{ incident.location }}</div>
    <label class="mt-3 font-weight-light">Incident Date:</label>
    <div class="ml-3">{{ incident.incidentDate | date }}</div>
    <label class="mt-3 font-weight-light">Reported by:</label>
    <div class="ml-3">{{ incident.reportedBy }}</div>

    <h5 class="mt-4">Alleged Incident</h5>
    <h6 class="mt-4">Person(s) experiencing</h6>
    <label class="mt-3 font-weight-light">Pupils:</label>
    <ul class="list-unstyled ml-3">
        <li *ngFor="let person of pupilsExperiencing">{{ person.name }}</li>
    </ul>
    <label class="mt-3 font-weight-light">Staff:</label>
    <ul class="list-unstyled ml-3">
        <li *ngFor="let person of staffExperiencing">{{ person.name }}</li>
    </ul>
    <h6 class="mt-4">Person(s) displaying</h6>
    <label class="mt-3 font-weight-light">Pupils:</label>
    <ul class="list-unstyled ml-3">
        <li *ngFor="let person of pupilsDisplaying">{{ person.name }}</li>
    </ul>
    <label class="mt-3 font-weight-light">Staff:</label>
    <ul class="list-unstyled ml-3">
        <li *ngFor="let person of staffDisplaying">{{ person.name }}</li>
    </ul>

    <h5 class="mt-4">Nature of Incident</h5>
    <label class="mt-3 font-weight-light">Nature of Incident:</label>
    <div class="ml-3">{{ incident.nature }}</div>
    <label class="mt-3 font-weight-light">Incident Detail:</label>
    <div class="ml-3">{{ incident.detail }}</div>


    <form [formGroup]="reviewIncidentForm" (ngSubmit)="onSubmit()">
        <div formGroupName="monitorReview">
            <h5 class="my-4">Monitor/Review</h5>
            <div class="form-group">
                <label>Reviewer:</label>
                <select formControlName="reviewer" class="custom-select" required>
                    <option value="" disabled>Select</option>
                    <option *ngFor="let member of constants.staff">{{ member }}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Complete:</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="completeDate"
                        ngbDatepicker #d="ngbDatepicker" required>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <span>📅</span>
                        </button>
                    </div>
                </div>
            </div>
            <h6 class="my-4">Person(s) Experiencing</h6>
            <div class="form-group">
                <label>Do they feel their concerns were listened to?</label>
                <div class="form-check pb-3">
                    <input type="checkbox" formControlName="experiencingConcernsListenedTo" class="form-check-input">
                </div>
            </div>
            <div class="form-group">
                <label>Do they feel satisfied with the outcome?</label>
                <div class="form-check pb-3">
                    <input type="checkbox" formControlName="experiencingSatisfied" class="form-check-input">
                </div>
            </div>
            <h6 class="my-4">Person(s) Displaying</h6>
            <div class="form-group">
                <label>Do they feel their concerns were listened to?</label>
                <div class="form-check pb-3">
                    <input type="checkbox" formControlName="displayingConcernsListenedTo" class="form-check-input">
                </div>
            </div>
            <div class="form-group">
                <label>Do they feel satisfied with the outcome?</label>
                <div class="form-check pb-3">
                    <input type="checkbox" formControlName="displayingSatisfied" class="form-check-input">
                </div>
            </div>
        </div>
        <div formGroupName="actionProgressed">
            <h5 class="my-4">Action Progressed</h5>
            <div class="form-group">
                <label>Action Procedures:</label>
                <textarea formControlName="procedures" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label>Incident Conclusion:</label>
                <select formControlName="conclusion" class="custom-select" required>
                    <option value="" disabled>Select</option>
                    <option *ngFor="let concl of constants.conclusions">{{ concl }}</option>
                </select>
            </div>
            <h6 class="my-4">Person(s) Experiencing</h6>
            <div formGroupName="actions">
                <div class="form-group" *ngFor="let person of personsExperiencing; let i = index">
                    <label>{{ person.name }}</label>
                    <select [formControlName]="person.id" class="custom-select" required>
                        <option value="" disabled>Select</option>
                        <option *ngFor="let action of constants.actions" [value]="action">{{ action }}</option>
                    </select>
                </div>
            </div>
            <h6 class="my-4">Person(s) Displaying</h6>
            <div formGroupName="actions">
                <div class="form-group" *ngFor="let person of personsDisplaying; let i = index">
                    <label>{{ person.name }}</label>
                    <select [formControlName]="person.id" class="custom-select" required>
                        <option value="" disabled>Select</option>
                        <option *ngFor="let action of constants.actions" [value]="action">{{ action }}</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="!reviewIncidentForm.valid" class="btn btn-primary">Submit</button>
    </form>
</div>