<h3 class="text-center my-5">Incident Management</h3>
<div class="container">
  <div class="row">
    <div class="col-2">
      <nav>
        <ul class="nav flex-column">
          <li class="nav-item"><a routerLink="/list" routerLinkActive="active" class="nav-link">List Incidents</a></li>
          <li class="nav-item"><a routerLink="/add" routerLinkActive="active" class="nav-link">Add Incident</a></li>
        </ul>
      </nav>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>